<!DOCTYPE html>
<html>
<head>
    <title>Segunda Sección</title>
</head>
<body>
    <h1>Hola {{ nombre }} aquí podrás confirmar tu asistencia a la boda</h1>
	<p>No dejes ningún campo sin responder aunque sea cero</p>
    <form action="{{ url_for('seccion_dos', codigo=codigo) }}" method="post">
        <label for="infantil">¿Cuántos niños confirmas? (0 - {{ infantil_max }})</label><br>
        <input type="number" id="infantil" name="infantil" min="0" max="{{ infantil_max }}"><br><br>

        <label for="adultos">¿Cuántos adultos confirmas (incluyéndote)? (0 - {{ adultos_max }})</label><br>
        <input type="number" id="adultos" name="adultos" min="0" max="{{ adultos_max }}"><br><br>

        <input type="submit" value="Registrar Asistencia">
    </form>
</body>
</html>